In [2]:
## Importing Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

# Data Extraction and Exploration

In [13]:
#Read data csv file
data = pd.read_csv("E:/dataEngineering/KiwiCourse/data/kiwilytics_orders.csv")

In [14]:
#print sample rows from the data as part of loading validation
data.head(10)

   order_id customer_name     product  quantity  unit_price  order_date
0         1         Maria  Kiwi Chips         2         3.0  2024-01-29
1         2       Richard  Kiwi Chips         1         3.0  2024-01-08
2         3      Nicholas  Kiwi Candy         1         2.5  2024-01-25
3         4       Raymond  Kiwi Candy         4         NaN  2024-01-04
4         5         David  Kiwi Juice         1         4.5  2024-02-25
5         6          Eric  Kiwi Juice         2         4.5  2024-03-20
6         7        Ronnie  Kiwi Chips         5         3.0  2024-01-05
7         8         Jesse  Kiwi Candy         1         2.5  2024-03-22
8         9        Thomas  Kiwi Candy         2         2.5  2024-02-14
9        10         Craig  Kiwi Candy         4         2.5  2024-03-17

In [15]:
#checking data quality if null existing
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  100 non-null    object
 2   product        100 non-null    object
 3   quantity       100 non-null    int64
 4   unit_price     92 non-null     float64
 5   order_date     100 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB

In [16]:
# checking dublicates ## Total number of rows is 100

print(data.value_counts().sum())

### we are having 92 unique rows 
# which might estimates we are having duplicated rows but let's wait for handling nulls

92

In [17]:
### checking descriptive summary for numerical columns
data.describe()

         order_id    quantity  unit_price
count  100.000000  100.000000   92.000000
mean    50.500000    2.910000    3.961957
std     29.011492    1.371389    1.326471
min      1.000000    1.000000    2.500000
25%     25.750000    2.000000    2.500000
50%     50.500000    3.000000    3.750000
75%     75.250000    4.000000    5.500000
max    100.000000    5.000000    6.000000

# Data Transformation

In [18]:
### filling nulls in the unit price column with the mean
data['unit_price'] = data.groupby('product')['unit_price'].transform(lambda x: x.fillna(x.mean()))
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  100 non-null    object
 2   product        100 non-null    object
 3   quantity       100 non-null    int64
 4   unit_price     100 non-null    float64
 5   order_date     100 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB
None

In [19]:
# Setting order date to datetime
data['order_date'] = pd.to_datetime(data['order_date'], )
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       100 non-null    int64
 1   customer_name  100 non-null    object
 2   product        100 non-null    object
 3   quantity       100 non-null    int64
 4   unit_price     100 non-null    float64
 5   order_date     100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 4.8+ KB

###Calculate Total Revenue Across all orders

In [21]:
data['total_price'] = data['quantity'] * data['unit_price']
print(data['total_price'])

0      6.0
1      3.0
2      2.5
3     10.0
4      4.5
      ...
95    22.5
96     5.0
97     5.0
98     4.5
99     9.0
Name: total_price, Length: 100, dtype: float64

In [22]:
### sum revenue
revenue = data['total_price'].sum()
print(revenue)

1167.5

In [25]:
### highest product quanitity sold
products_sellings = data.groupby('product')['quantity'].sum()
print(products_sellings)

product
Kiwi Candy       70
Kiwi Chips       73
Kiwi Jam         41
Kiwi Juice       61
Kiwi Smoothie    46
Name: quantity, dtype: int64

In [32]:
### Highest customer spending

HCS = data.groupby('customer_name')['total_price'].sum()
print(HCS.max())
print(HCS.idxmax())

100.5
Eric